{% extends "correo/marco.html" %}

{% block title %}{{ asunto }}{% endblock %}

{% block content %}
    <p>¡Hola, {{ nombre }}!</p>
    <p>Para completar tu solicitud de registro en el HackUDC 2026, necesitamos verificar tu correo electrónico.</p>
    <p>Para ello, accede aquí: <a href="https://{{ host }}/verificar/{{ token }}">https://{{ host }}/verificar/{{ token }}</a>.</p>
    <p>Una vez hayas verificado tu correo, recibirás otro correo confirmando que todo está correcto.</p>
    <p>Si no consigues completarlo o tienes alguna duda, escríbenos a <a href="mailto:hackudc@gpul.org">hackudc@gpul.org</a>.</p>
{% endblock content %}
