{% extends "correo/marco.html" %}

{% block content %}
    <p>¡Hola, {{ nombre }}!</p>
    <p>¡Tu solicitud de participación en el HackUDC 2026 ha sido registrada correctamente!</p>
    <p>Próximamente, <b>te enviaremos otro correo para confirmar tu plaza en el evento</b>.</p>
    <p>Es muy importante que sigas las instrucciones del mismo, de lo contrario podrías perder tu plaza.</p>
    <p>Puedes ver tus datos de registro aquí: <a href="https://{{ host }}/verificar/{{ token }}">https://{{ host }}/verificar/{{ token }}</a>.</p>
    <p>Si en cualquier momento quieres volver a consultar la información que nos indicaste, puedes utilizar ese mismo enlace.</p>
    <div class="background-color: #ff88003a; border: 2px solid #ff88007f; border-radius: 0.5rem; padding: 0.5rem 1rem; color: #eee;">
        <b>Advertencia:</b> Este correo no confirma la asignación de una plaza para el evento, solo el registro en la lista de solicitantes de plaza para HackUDC.
    </div>

    <p>Si tienes alguna duda o has detectado un dato erróneo en tu inscripción, escríbenos a <a href="mailto:hackudc@gpul.org">hackudc@gpul.org</a>.</p>
{% endblock content %}
