[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
faker = "*"

[dev-packages]
black = "*"
mypy = "*"
django-stubs = "*"

[requires]
python_version = "3.13"
