{% extends "marco.html" %}

{% block title %}Confirmar plaza{% endblock title %}

{% block content %}
<style>
    button {
        border: none;
        padding: .5rem 1rem;
        border-radius: 9999px;
        margin-right: 1em;

        cursor: pointer;
    }

    #confirmar { background-color: #28a745; }
    #rechazar { color: #dc3545; border: 1px solid #dc3545; background-color: transparent; }

    #confirmacion-plaza {
        width: 65%;
        background-color: var(--fondo);
        border: 2px solid var(--borde);
        border-radius: 0.5em;
        padding: 1em;

        display: block;
        margin: 0 auto;
    }
</style>

<div id="confirmacion-plaza">
    <h1 style="margin-top: 0;">Confirmar plaza</h1>

    {% if not participante.confirmado and not participante.rechazo and token.valido %}
        <p>Confirma ahora tu plaza. Tienes hasta el {{ token.fecha_expiracion }}</p>
    {% elif participante.confirmado and not participante.rechazo %}
        <p>Aceptaste tu plaza. Puedes rechazarla si no vas a venir cuando quieras</p>
    {% elif participante.rechazo %}
        <p>Rechazaste tu plaza el {{ participante.fecha_rechazo_plaza }}. Si esto es un error, contacta con nosotros a través de <a href="mailto:hackudc@gpul.org?subject=[Registro] - Recuperar plaza ({{ participante.correo }})">hackudc@gpul.org</a>.</p>
    {% else %}
        <p>Tu token caducó. Si aún quieres aceptar tu plaza, contacta con nosotros a traveś de <a href="mailto:hackudc@gpul.org?subject=[Registro] - Token caducado ({{ token }})">hackudc@gpul.org</a> para ver si esto es posible.</p>
    {% endif %}

    <div style="display: flex;">
        {% if participante.confirmado and not participante.rechazo or token.valido and not participante.rechazo %}
        <form action="{% url 'rechazar-plaza' token.token %}" method="post">
            {% csrf_token %}
            <button type="submit" id="rechazar">Rechazar la plaza</button>
        </form>
        {% endif %}
        {% if token.valido and not participante.confirmado and not participante.rechazo %}
        <form action="{% url 'aceptar-plaza' token.token %}" method="post">
            {% csrf_token %}
            <button type="submit" id="confirmar">Confirmar la plaza</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock content %}
