{% extends "marco.html" %}

{% block title %}Registro{% endblock %}
{% load static %}

{% block head %}{{ form.media }}{% endblock head %}

{% block content %}
<style>
    #hackudc-logo {
        width: 50%;

        display: block;
        margin: 0 auto;
    }

    #hackudc-registro {
        text-align: center;
        font-size: 3em;
    }

    #hackudc-registro span {
        color: var(--amarillo-hackudc);
        text-shadow: 3px 3px 0px var(--sombra-hackudc);
    }
</style>

<div id="registro">
    <!--<h1>Registro de participantes</h1>-->
    <img src="{% static 'svg/hackudc.svg' %}" id="hackudc-logo">
    <h1 id="hackudc-registro">Regístrate para <span>HackUDC 2026</span></h1>

    <!--{% if user.is_authenticated and user.is_staff %}
    <a href="/gestion">Gestión</a>
    <hr>
    {% endif %}-->

    <form action="{% url 'registro' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}

        <div style="margin-top: 0;">
            <label for="terminos">Acepto los <a href="#">Términos y Condiciones</a> y el <a href="#">Código de conducta</a>.</label>
            <input type="checkbox" id="terminos" required>
        </div>

        <button type="submit" id="submit-ancho">
            Apuntarme a HackUDC
            <div id="flecha-submit">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="svg-inline--fa fa-arrow-right h-5 w-5 text-white/50" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg>
            </div>
        </button>
        <p>Al enviar aceptas la <a href="#">política de privacidad</a></p>
    </form>
</div>
{% endblock content %}
