button {
    border: none;
    padding: .5rem 1rem;
    border-radius: 9999px;
    margin-right: 1em;

    cursor: pointer;
}

#confirmar { background-color: #28a745; }
#rechazar { color: #dc3545; border: 1px solid #dc3545; background-color: transparent; }

#confirmacion-plaza {
    width: 65%;
    background-color: var(--fondo);
    border: 2px solid var(--borde);
    border-radius: 0.5em;
    padding: 1em;

    display: block;
    margin: 0 auto;
}
