.boton { margin-right: 1em; cursor: pointer; }
.boton-rojo { background-color: transparent;}

#confirmacion-plaza {
    width: 65%;
    background-color: var(--fondo);
    border: 2px solid var(--borde);
    border-radius: 0.5em;
    padding: 1em;

    display: block;
    margin: 0 auto;
}

@media(max-width: 900px) {
    #confirmacion-plaza { width: 90%; }
}
