/* LOGIN */
#login h1 {
    text-align: center;
    margin-top: max(calc(30vh - 162px), 10vh);
    margin-bottom: max(calc(30vh - 162px), 10vh);
    width: 100%;
}

#login div.login-form {
    width: min-content;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: #0f0f0f7f;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
}

#login input {
    padding: 0.5rem;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;

    background-color: #444;
    color: #f0f0f0;
    border: 1px solid #7f7f7f;
}

#login div.submit-btn {
    display: flex;
    justify-content: end;
}

#login input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#login label,
#login input {
    display: flex;
    flex-direction: column;
}

#login p.cuenta {
    text-align: center;
    font-size: 0.9em;
    color: #666;
}
