/* FORMULARIO DE REGISTRO */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    border: 2px solid var(--borde);
    border-radius: 0.5em;

    margin: 0 4em;
    padding: 1em;

    background-color: var(--fondo);
}

form div {
    display: flex;
    flex-direction: column;

    max-width: 50%;
    width: 45%;

    margin-top: 0.5em;
}

/* Restricciones alimentarias */
div:has(> fieldset) {
    width: 100%;
    max-width: 95%;

    margin-top: 2em;
}

div:has(> #id_detalle_restricciones_alimentarias) {
    max-width: 95%;
    flex: 1 1 100%;

    margin-bottom: 2em;
}


div:has(> #id_quiere_creditos),
div:has(> #id_compartir_cv),
div:has(> #id_cv),
div:has(> #id_motivacion),
div:has(> #id_notas),
div:has(> #terminos),
form hr {
    width: 100%;
    max-width: 95%;

    margin: 2em 0;
}

div:has(> #id_quiere_creditos) {
    flex-direction: row;
    margin-top: 0.5em;
    margin-bottom: 0em;
}

div:has(> #id_quiere_creditos) :nth-child(1) {
    order: 2;
    margin-right: 0.5em;
}

div:has(> #id_quiere_creditos) :nth-child(2) {
    order: 3;
    margin-top: 0.3em;
}

div:has(> #id_quiere_creditos) :nth-child(3) {
    order: 1;
    margin-right: 0.5em;
}

#id_cv_helptext {
    width: 100%;
    max-width: 95%;
    margin-top: 0;
    margin-bottom: 0.5em;
}

div:has(> #id_compartir_cv),
div:has(> #id_cv) {
    margin: 0.5em 0;
}

div:has(> #id_compartir_cv),
div:has(> #terminos) {
    flex-direction: row-reverse;
    justify-content: left;
    margin-top: 0;
}

#id_compartir_cv,
#terminos {
    align-self: center;
    margin-right: 0.5em;
}

#id_motivacion_helptext {
    max-width: 95%;
    width: 100%;
    font-style: italic;
    font-size: 80%;
}

form label:has(~ input:required):after,
form label:has(~ select:required):after,
form label:has(~ textarea:required):after {
    content: ' *';
    color: red;
}

form label:has(> input[type="checkbox"][checked]) {
    color: var(--acento-hackudc);
}

input,
select,
textarea {
    font-size: 1em;
}

fieldset div {
    width: 100%;
    max-width: 100%;
}

input[type=text],
input[type=date],
input[type=email],
input[type=number],
select,
textarea {
    background-color: var(--claro);
    border: 2px solid var(--claro);
    outline: none;
    color: var(--texto);

    padding: 8px;
    border-radius: 4px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=text]:focus,
input[type=date]:focus,
input[type=email]:focus,
input[type=number]:focus,
select:focus,
textarea:focus {
    border: 2px solid var(--acento-hackudc);
    color: var(--acento-hackudc);
}

fieldset {
    border-radius: 8px;
    border: 2px solid var(--claro);
    padding: 0.5em 1.5em;

    line-height: 2em;
    padding-top: 0em;
}

fieldset>div {
    margin-top: 0;
}

#id_quiere_creditos_helptext,
#id_cv_helptext,
#id_notas_helptext {
    font-style: italic;
    font-size: 80%;
}

#submit-ancho {
    background-color: var(--amarillo-hackudc);
    color: var(--sombra-hackudc);
    border: none;
    border-radius: 8px;

    width: 95%;
    padding: 12px;

    font-size: 1em;
    cursor: pointer;

    position: relative;
}

#flecha-submit {
    width: 1em;
    height: 1em;
    position: absolute;
    right: 1em;
    top: 0;
    transform: translateY(35%);
    transition-duration: 200ms;
}

#submit-ancho:hover #flecha-submit {
    right: 0.75em;
}

@media(max-width: 900px) {
    form div {
        max-width: 100%;
        width: 95%;
    }

    #registro form {
        margin: 0 1.5em;
    }
}

textarea {
    margin-top: 0.5em;
}

/* POPUP */
.popup {
    position: fixed;
    z-index: 9999;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #101010B2;
    backdrop-filter: blur(2px);
}

.popup-contenido {
    max-width: 40%;

    padding: 16px 32px;
    padding-top: 0px !important;
    border-radius: 16px;

    background-color: var(--claro);
    box-shadow: 0px 6px 12px rgba(10, 10, 10, 0.7);
}

@media(max-width: 900px) {
    .popup-contenido {
        max-width: 100%;
    }
}
