#hackudc-logo {
    width: 50%;

    display: block;
    margin: 0 auto;
}

#hackudc-registro {
    text-align: center;
    font-size: 3em;
}

#hackudc-registro span {
    color: var(--amarillo-hackudc);
    text-shadow: 3px 3px 0px var(--sombra-hackudc);
}
