{% extends 'marco.html' %}

{% block title %}Inicio{% endblock title %}

{% block content %}
<div id="gestion-index">
    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
        {% csrf_token %}
    </form>
    <ul>
        {% if user.is_superuser %}<li><a href="/admin">Admin</a></li>{% endif %}
        <li><a href="{% url 'alta' %}">Registro</a></li>
        <li><a href="{% url 'pases' %}">Pases comida</a></li>
        <li><a href="{% url 'presencia' %}">Entrada/Salida</a></li>
        <li>Consulta</li>
        <br>
        <li><a href="#" onclick="document.getElementById('logout-form').submit()">Cerrar sesión</a></li>
    </ul>
</div>
{% endblock content %}
