{% extends "marco.html" %}

{% block title %}Presencia{% endblock title %}
{% load static %}

{% block head %}
<link href="{% static 'css/login.css' %}" media="all" rel="stylesheet">
{% endblock head %}

{% block content %}
<div id="gestion-presencia">
    <h1>Presencia</h1>

    {% if not persona %}
    <form action="{% url 'presencia' %}" method="get">
        <input type="text" id="acreditacion" name="acreditacion">
        <button type="submit">Buscar</button>
    </form>

    {% else %}
    <h2>{{ persona.nombre }} ({{ persona.acreditacion }})</h2>
    <p>Tiempo total: {{ tiempo_total }}</p>
    <br>
    <div class="botones">
        <a href="{% url 'presencia-entrada' acreditacion=persona.acreditacion %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-log-in-icon lucide-log-in">
                <path d="m10 17 5-5-5-5" />
                <path d="M15 12H3" />
                <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />
            </svg>
            Entrada
        </a>
        <a href="{% url 'presencia-salida' acreditacion=persona.acreditacion %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-log-out-icon lucide-log-out">
                <path d="m16 17 5-5-5-5" />
                <path d="M21 12H9" />
                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
            </svg>
            Salida
        </a>
    </div>
    <h3>Historial</h3>
    {% if presencias_sin_entrada %}
    <p class="warning">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-triangle-alert-icon lucide-triangle-alert">
            <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3" />
            <path d="M12 9v4" />
            <path d="M12 17h.01" />
        </svg>
        Hay presencias sin entrada registrada, se muestran al final de la lista
    </p>
    {% endif %}
    <ul>
        {% for presencia in presencias %}
        <li>
            {% if presencia.entrada %}
            {{ presencia.entrada|date:'d M Y \a \l\a\s H:i' }}
            {% else %}
            <span class="bold">Sin entrada</span>
            {% endif %}
            - <wbr />
            {% if presencia.salida %}
            {{ presencia.salida|date:'d M Y \a \l\a\s H:i' }} ({{ presencia.salida|timeuntil:presencia.entrada }})
            {% else %}
            <span class="bold">Sin salida</span>
            {% endif %}

            {% if not presencia.entrada or not presencia.salida %}
            <a href="{% url 'presencia-editar' id_presencia=presencia.id_presencia %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-pencil-icon lucide-pencil">
                    <path
                        d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
                    <path d="m15 5 4 4" />
                </svg></a>
            {% endif %}

        </li>
        {% empty %}
        <li>No hay registros de presencia.</li>
        {% endfor %}
    </ul>

    <br>
    <div class="botones">
        <a href="{% url 'presencia' %}">Nueva búsqueda</a>
    </div>

    {% endif %}
</div>
{% endblock content %}
