{% extends "marco.html" %}

{% block title %}Presencia{% endblock title %}

{% block content %}
<div id="gestion-presencia">
    <h1>Presencia</h1>

    {% if not persona %}
    <input type="text" id="id_acreditacion" name="acreditacion">
    <a onclick="window.location.replace('{% url 'presencia' %}/' + document.getElementById('id_acreditacion').value)"
        href="#">
        Buscar
    </a>

    {% else %}
    <h2>{{ persona.nombre }} ({{ persona.acreditacion }})</h2>
    <p>Tiempo total: {{ tiempo_total }}</p>
    <br>
    <a href="{% url 'presencia' %}">Nueva búsqueda</a>
    <br>
    <a href="{% url 'presencia-entrada' acreditacion=persona.acreditacion %}">Entrada</a>
    <a href="{% url 'presencia-salida' acreditacion=persona.acreditacion %}">Salida</a>
    <h3>Historial</h3>
    <ul>
        {% for presencia in presencias %}
        <li>
            {{ presencia.entrada|date:'d M Y \a \l\a\s H:i' }} -

            {% if presencia.salida %}
            {{ presencia.salida|date:'d M Y \a \l\a\s H:i' }} ({{ presencia.salida|timeuntil:presencia.entrada }})
            {% else %}
            <strong>Sin salida</strong>
            {% endif %}

            {% if presencia.entrada == presencia.salida or not presencia.salida %}
            <a href="{% url 'presencia-editar' id_presencia=presencia.id_presencia %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-pencil-icon lucide-pencil">
                    <path
                        d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
                    <path d="m15 5 4 4" />
                </svg></a>
            {% endif %}

        </li>
        {% empty %}
        <li>No hay registros de presencia.</li>
        {% endfor %}
    </ul>

    {% endif %}
</div>
{% endblock content %}
